.btn {
    margin: 0 auto;
    background: none;
    background-image: url('@/assets/bgs/btn-bg.png');
    background-size: cover;
}

.tab-cur {
    background-image: url('@/assets/bgs/tab-bg.png');
    background-size: cover;
    color: #ffffff;
}