.connect-btn {
    box-sizing: border-box;
    border: 1px solid #8192C7;
    padding: 6px 7px;
    border-radius: 10px;
    background: #000000;
    color: #A7BAFC;
    font-size: 13px;
}

.hover:hover {
    color: white;
}